@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-violet-100 via-zinc-50 to-zinc-50 text-zinc-900;
    font-family: 'Poppins', sans-serif;
}
